services:
  postgres:
    image: postgres:18
    container_name: postgres_biblioteca
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: biblioteca_virtual
      POSTGRES_DB: biblioteca
      TZ: America/Sao_Paulo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    security_opt:
      - no-new-privileges:true
    networks:
      - biblioteca-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.6.1
    container_name: zookeeper_biblioteca
    ports:
      - "2181:2181"
    volumes:
      - zookeeper_data:/var/lib/zookeeper/data
      - zookeeper_log:/var/lib/zookeeper/log
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    security_opt:
      - no-new-privileges:true
    healthcheck:
      test: [ "CMD-SHELL", "echo srvr | nc localhost 2181 | grep -q Mode" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    networks:
      - biblioteca-net

  kafka:
    image: confluentinc/cp-kafka:7.6.1
    container_name: kafka_biblioteca
    depends_on:
      zookeeper:
        condition: service_healthy
    ports:
      - "29092:29092"
    volumes:
      - kafka_data:/var/lib/kafka/data
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: 'zookeeper:2181'
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
    healthcheck:
      test: [ "CMD-SHELL", "kafka-topics --bootstrap-server localhost:9092 --list" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s
    security_opt:
      - no-new-privileges:true
    networks:
      - biblioteca-net

  elasticsearch:
    image: elasticsearch:9.2.0
    container_name: elasticsearch
    restart: always
    volumes:
      - elastic_data:/usr/share/elasticsearch/data/
    environment:
      - xpack.security.enabled=false # atenção para por em true na prod
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - TZ=America/Sao_Paulo
      - discovery.type=single-node
    ports:
      - '9200:9200'
    networks:
      - biblioteca-net

  kibana:
    image: kibana:9.2.0
    container_name: kibana
    restart: always
    ports:
      - '5601:5601'
    environment:
      - ELASTICSEARCH_URLS=http://elasticsearch:9200
    depends_on:
      - elasticsearch
    networks:
      - biblioteca-net

  backend_biblioteca:
    build:
      context: ./backend
    container_name: backend_biblioteca
    ports:
      - "8080:8080"
    env_file:
      - .env
    volumes:
      - ./google-drive-credentials.json:/app/credentials.json
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/biblioteca
      - SPRING_DATASOURCE_USERNAME=postgres
      - SPRING_DATASOURCE_PASSWORD=biblioteca_virtual
      - SPRING_KAFKA_BOOTSTRAP_SERVERS=kafka:9092
      - SPRING_ELASTICSEARCH_URIS=http://elasticsearch:9200
      - TZ=America/Sao_Paulo
      - GOOGLE_APPLICATION_CREDENTIALS=/app/credentials.json
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
      elasticsearch:
        condition: service_started
    security_opt:
      - no-new-privileges:true
    user: "1000:1000"
    deploy:
      resources:
        limits:
          cpus: "1.0"
          memory: 1g
    networks:
      - biblioteca-net

  frontend_biblioteca:
    build: ./frontend
    container_name: frontend_biblioteca
    ports:
      - "3000:80"
    depends_on:
      - backend_biblioteca
    security_opt:
      - no-new-privileges:true
    networks:
      - biblioteca-net

networks:
  biblioteca-net:
    driver: bridge

volumes:
  postgres_data:
  zookeeper_data:
  zookeeper_log:
  kafka_data:
  elastic_data: {}